<html>
<head>
    <title>Тестовое задание для funbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <!-- build:css css/combined.css -->
    <link rel="stylesheet" href="css/style.css"/>
    <!-- endbuild -->

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <!-- endbuild -->

</head>
<body ng-app="mapFunBox">

<script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru_RU&mode=debug" type="text/javascript"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" ng-controller="mapCtrl">
            <ul class="list-group" sortable change="changeModel(pindex, index)">
                <li class="list-group-item" index="{{$index}}" ng-repeat="point in points">
                    {{$index+1}}.
                    {{names[$index] || point}}
                    <span class="badge alert-danger pointer" ng-click="remove($index)"><span class="glyphicon glyphicon-remove"></span></span>
                </li>
            </ul>
            <form class="form-inline text-center">
                <div>
                    <label>
                        <input ng-model="format" value="address" type="radio"/>
                        Адрес
                    </label>
                    <label>
                        <input ng-model="format" value="coords" type="radio"/>
                        Координаты
                    </label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="newPoint" placeholder="{{placeholder[format]}}"/>
                    <button type="button" class="btn btn-default" ng-click="addPoint()">Add</button>
                </div>
            </form>
        </div>

        <div class="col-md-7" id="map" style="height: 400px"></div>
    </div>
</div>


<!--build:js scripts/vendor.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.js"></script>

<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<!--endbuild-->

<script id="template-modal" type="text/html">
    <div id="_alert" tabindex="-1" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p id="modal-msg" class="modal-title"></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>


<!-- build:js scripts/main.js -->
<script src="js/app.js"></script>
<script src="js/service/maps.js"></script>
<script src="js/directive/sortable.js"></script>
<script src="js/service/modal.js"></script>
<script src="js/controller/mapCtrl.js"></script>
<!-- endbuild -->
</body>
</html>