<html>
<head>
    <title>test sortable</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />

</head>
<body ng-app="mapFunBox">

<div ng-controller="testCtrl">
    {{testMessage}}
    <ul sortable change="changeModel(pindex, index)">
        <li index="{{$index}}" ng-repeat="name in names">
            {{$index}}
            {{name}}
            <span ng-click="remove($index)">-</span>
        </li>
    </ul>
    <button ng-click="addMarin()">add marina</button>
    <button ng-click="changeTest()">change Test</button>
    <button ng-click="refresh()">refresh</button>
</div>

<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.js"></script>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/directive/sortable.js"></script>
<script src="js/directive/coord.js"></script>
<script src="js/controller/testCtrl.js"></script>
</body>
</html>